<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" shutdownHook="disable">
    <Properties>
        <Property name="basePath">C:\\logs</Property>
    </Properties>
 
    <Appenders>
        <RollingFile name="fileLogger" fileName="${basePath}/standard.log" filePattern="${basePath}/standard-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
 		
 		<RollingFile name="errorLogger" fileName="${basePath}/error.log" filePattern="${basePath}/error-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        
 		<RollingFile name="timeLogger" fileName="${basePath}/time.log" filePattern="${basePath}/time-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        
        <RollingFile name="traceLogger" fileName="${basePath}/trace.log" filePattern="${basePath}/trace-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.sandeep.lms" level="debug" additivity="false">
            <appender-ref ref="fileLogger" level="debug" />
        </Logger>
        
        <Logger name="com.sandeep.lms" level="info" additivity="false">
            <appender-ref ref="fileLogger" level="info" />
        </Logger>
        
        <Logger name="com.sandeep.lms" level="info" additivity="false">
            <appender-ref ref="fileLogger" level="info" />
        </Logger>
        
        <Logger name="com.sandeep.lms" level="debug" additivity="false">
            <appender-ref ref="errorLogger" level="debug" />
        </Logger>
        
        <Logger name="com.sandeep.lms" level="info" additivity="false">
            <appender-ref ref="timeLogger" level="info" />
        </Logger>
        
        <Logger name="com.sandeep.lms" level="info" additivity="false">
            <appender-ref ref="traceLogger" level="info" />
        </Logger>
        
        <Root level="debug" additivity="false">
            <appender-ref ref="fileLogger" />
            <appender-ref ref="console" />
        </Root>
    </Loggers>
</Configuration>