<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	
	<!-- context:component-scan tells DispatcherServlet where to look for controller classes. -->
	<context:component-scan base-package="com.sandeep.lms.applyleaves" />
	
	
	<!-- InternalResourceViewResolver bean configuration to specify location of view pages and suffix used. 
	Controller class methods return name of the view page and then suffix is added to figure out the view 
	page to use for rendering the response. -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
</beans>